
:root{
   --blue:#56CCF2;
   --lightBlack:#4f4f4f;
   --lightCarrot:#FF9F28;
   --green:#1BD741;
   --red:#FF0000;
   --white:#FFFFFF;
   --shadowWith:#D1D1D1;
   --lightwWith:#A0A0A0;
   --black:#000000;
   --grey:#787878;
   --grey1:#504F4F;
   --white1:#A7A7A7;
   --lightWhite:#F6F8FB;
   --white2:#afafaf;
}

